html,body {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 1em;
  text-align: center;
  background-image: url(./img/woodBackgroundOne.jpeg);
  /* background-color: lightgray; */
}

canvas {
  background-color: darkgray;
  background-image: url(./img/cartoonKitchen.png);
  background-size: cover;
  width: 800;
  height: 500;
}

p {
  font-size: 40px;
  color: white;
}

h1 {
  font-size: 60px;
  color: red;
}
/* #container {
  max-width: 50em;
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-gap: 1em; */
  /* grid-template-rows: .25fr .5fr .25fr; */
  /* grid-template-columns: .25fr .5fr .25fr;
} 
/* 
main {
  grid-area: game;
} */