html,body {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 1em;
  text-align: center;
  background-image: url(./img/woodBackgroundOne.jpeg);
  /* background-color: lightgray; */
}

canvas {
  background-color: darkgray;
  background-image: url(./img/cartoonKitchen.png);
  background-size: cover;
  width: 800;
  height: 500;
}

p {
  font-size: 40px;
  color: white;
  font-family: 'Rowdies', cursive;
}

h1 {
  font-size: 60px;
  color: red;
  font-family: 'Rowdies', cursive;
}

.title{
  color: white;
  font-family: 'Rowdies', cursive;
}

.start-button {
  margin-top: 20px;
  padding: 20px 40px 20px 40px;
  font-family: 'Rowdies', cursive;
  font-size: 30px;
}
#restart-button {
  margin-top: 20px;
  padding: 20px 40px 20px 40px;
  font-family: 'Rowdies', cursive;
  font-size: 30px;
}

.hide {
  display: none;
}

.instructions {
  font-size: 20px;
  padding-left: 150px;
  padding-right: 150px;
}

/* #container {
  max-width: 50em;
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-gap: 1em; */
  /* grid-template-rows: .25fr .5fr .25fr; */
  /* grid-template-columns: .25fr .5fr .25fr;
} 
/* 
main {
  grid-area: game;
} */